@media only screen and (min-width: 1351px) and (max-width: 1600px) {
  #footer {
    padding-bottom: 3vh;
  }
  #footer .headline {
    font-size: 2.5rem;
    margin-left: 2vw;
  }
  #footer .content {
    margin-left: 3vw;
  }

  #footer .email {
    font-size: 1.2rem;
  }
  #footer .email a::after {
    width: 1vw;
    height: 1vw;
  }
  #footer .links {
    width: auto;
  }
}



@media only screen and (min-width: 1101px) and (max-width: 1350px) {
  nav .logo img{
    width: 160px;
  }
  #welcome .headline{
    font-size: 2.8rem;
  }
  #welcome .underheadline {
    font-size: 1rem;
  }
  #welcome .triangle{
    width: 33%;
  }

  #services{
    padding:0;
    margin: 0;
    font-size: 110%;
  }

  #services .col-right{
    margin-right: 4rem;
  }

  #footer {
    padding-bottom: 3vh;
  }
  #footer .headline {
    font-size: 3rem;
    margin-left: 5vw;
  }
  #footer .content {
    margin-left: 5vw;
  }
  #footer .col-left {
    width: 35%;
  }
  #footer .email {
    font-size: 1.2rem;
  }
  #footer .email a::after {
    width: 1vw;
    height: 1vw;
  }
  #footer .links {
    width: auto;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1100px) {
  :root{
    font-size: 13px;
  }
  nav .logo img{
    width: 140px;
  }
  nav .navigation{
    margin-right: 6rem;
  }
  #welcome .headline{
    font-size: 2.6rem;
  }

  #welcome .underheadline {
    font-size: 1.1rem;
  }

  #welcome .triangle{
    width: 36%;
  }

  #services{
    padding:0;
    margin: 0;
    font-size: 103%;

  }

  #services .col-right{
    margin-right: 1rem;
    margin-left: 6rem;
  }


  #about  .wrapper {
    font-size:4.3em;
  }

  #about .bg-right img{
    width: 900px;
  }

  #info{
    font-size: 14px;
  }


  #footer {
    padding-bottom: 3vh;
  }
  #footer .headline {
    font-size: 3rem;
    margin-left: 5vw;
  }
  #footer .content {
    margin-left: 5vw;
  }
  #footer .col-left {
    width: 35%;
  }
  #footer .email {
    font-size: 1.2rem;
  }
  #footer .email a::after {
    width: 1vw;
    height: 1vw;
  }
  #footer .links {
    width: auto;
  }
}

@media only screen and (min-width: 760px) and (max-width: 900px) { 
  nav .logo img{
    width: 140px;
  }

  nav .language {
    margin-left: 2rem;
  }
  
  nav .navigation{
    margin-right: 4rem;
  }

  .language .ro .link {
    margin-right: 0.8rem;
    padding-right: 0.8rem;
    
  }
  #welcome .headline{
    font-size: 2.6rem;
  }

  #welcome .underheadline {
    font-size: 1.1rem;
  }

  #welcome .triangle{
    width: 44%;
  }

  #services{
    padding:0;
    margin: 0;
    font-size: 94%;

  }

  #services .col-right{
    margin-right: 1rem;
    margin-left: 1rem;
    padding-left: 2rem;

  }


  #about  .wrapper {
    font-size:4em;
  }

  #about .bg-right img{
    width: 800px;
  }

  #info{
    font-size: 12px;
  }



  #footer {
    padding-bottom: 3vh;
  }
  #footer .headline {
    font-size: 2.5rem;
    margin-left: 5vw;
  }
  #footer .content {
    margin-left: 5vw;
  }
  #footer .col-left {
    width: 30%;
  }
  #footer .email {
    font-size: 1rem;
  }
  #footer .email a::after {
    width: 1vw;
    height: 1vw;
  }

  #footer .links {
    width: auto;
  }
}

@media only screen and (min-width: 600px) and (max-width: 759px) {
  nav .logo img{
    width: 140px;
  }

  nav .language {
    margin-left: 2rem;
  }
  
  nav .navigation{
    margin-right: 4rem;
  }

  .language .ro .link {
    margin-right: 0.8rem;
    padding-right: 0.8rem;
    
  }

  #welcome .headline{
    font-size: 2.6rem;
  }

  #welcome .underheadline {
    font-size: 1.1rem;
  }

  #welcome .triangle{
    width: 44%;
  }


  #services .col-left{
    flex-direction: row;
    margin-bottom: 4rem;
  }

  #services .desc{
    margin-top: 2rem;
    width: 100%;
    text-align: right;
  }

  #services .col-right{
    margin-right: 1rem;
    margin-left: 1rem;
    padding-left: 2rem;
    border: none;
  }

  
  #about  .wrapper {
    font-size:3.8em;
  }

  #about .bg-right img{
    width: 800px;
    left:40%;
  }

  #info{
    font-size: 12px;
  }


  #footer {
    padding-bottom: 3vh;
  }
  #footer .headline {
    font-size: 2.2rem;
    margin-left: 4vw;
  }
  #footer .content {
    margin-left: 4vw;
  }
  #footer .col-left {
    width: 30%;
  }
  #footer .email {
    font-size: 1rem;
  }
  #footer .email a::after {
    display: none;
  }

  #footer .links {
    width: auto;
  }

}


@media only screen and (min-width: 500px) and (max-width: 599px) {

  
  nav .logo img{
    width: 150px;
  }

  nav .language {
    margin-left: 2rem;
  }
  
  nav .navigation{
    margin-right: 4rem;
  }
  nav .underline{
    display: none;
  }
  .language .ro .link {
    margin-right: 0.8rem;
    padding-right: 0.8rem;
    
  }

  #welcome .headline{
    font-size: 2.2rem;
  }

  #welcome .underheadline {
    font-size: 0.9rem;
  }

  #welcome .triangle{
    width: 48%;
  }

  #services{
    padding:0;
    margin: 0;
    font-size: 88%;

  }
  #services .col-left{
    flex-direction: row;
    margin-bottom: 4rem;
  }

  #services .desc{
    margin-top: 2rem;
    width: 100%;
    text-align: right;
  }

  #services .col-right{
    margin-right: 1rem;
    margin-left: 1rem;
    padding-left: 2rem;
    border: none;
  }

  #about  .wrapper {
    font-size:3.6em;
  }

  #about .bg-right img{
    width: 700px;
    left:40%;
  }

  
  #info{
    font-size: 11px;
  }

  #footer {
    padding-bottom: 3vh;
  }
  #footer .headline {
    font-size: 2.2rem;
    margin-left: 4vw;
  }
  #footer .content {
    margin-left: 4vw;
  }
  #footer .col-left {
    width: 30%;
  }
  #footer .email {
    font-size: 1rem;
  }
  #footer .email a::after {
    display: none;
  }

  #footer .links {
    width: auto;
  }


}

@media only screen and (min-width: 385px) and (max-width: 499px) {
  nav .logo img{
    width: 150px;
  }

  nav .logo{
    margin-left: 2rem;
  }

  nav .language {
    margin-left: 2rem;
  }
  
  nav .navigation{
    margin-right: 2rem;
  }
  .language .ro .link {
    margin-right: 0.8rem;
    padding-right: 0.8rem;
    
  }

  #welcome .headline{
    font-size: 2.3rem;
  }

  #welcome .underheadline {
    font-size: 1rem;
  }

  #welcome .triangle{
    width: 60%;
  }

  #welcome .arrow-scroll{
    right: 8%;
  }

  #services{
    padding:0;
    margin: 0;
    font-size: 70%;
    overflow: hidden;

  }
  #services .title{
    margin-left: 1rem;

  }
  #services .triangle-logo {
    width: 13px;
  }
  #services .col-left{
    flex-direction: row;
    margin-bottom: 4rem;
    padding-right: 1rem;
  }

  #services .desc{
    margin-top: 2rem;
    width: 100%;
    text-align: right;
    margin-right: 2rem;
  }

  #services .col-right{
    margin-right: 1rem;
    margin-left: 1rem;
    padding-left: 2rem;
    border: none;
  }
  #services .arrow-contact {
    width:14px;
  }
  #about{
    padding-left: 2em;
    padding-top: 2em;
  }
  #textSection{
    display: flex;
  }
  #about  .wrapper {
    font-size:3.75em;
  }

  #about .bg-right img{
    width: 600px;
    left:50%;
    top: 40%;
  }

  
  #info{
    font-size: 10px;
  }

  #footer {
    padding-bottom: 3vh;
  }
  #footer .headline {
    font-size: 1.9rem;
    margin-left: 4vw;
  }
  #footer .description {
    font-size: 0.8rem;
  }
  #footer .f-title {
    font-size: 1rem;
  }
  #footer .content {
    margin-left: 4vw;
  }
  #footer .col-left {
    width: 30%;
  }
  #footer .email {
    font-size: 1rem;
  }
  #footer .email a::after {
    display: none;
  }

  #footer .links {
    width: auto;
  }

  #footer .links a {
    font-size: 1.5rem;
  }

}

@media only screen and (min-width: 345px) and (max-width: 384px) {
  nav .logo img{
    width: 150px;
  }

  nav .logo{
    margin-left: 2rem;
  }

  nav .language {
    margin-left: 2rem;
  }
  
  nav .navigation{
    margin-right: 2rem;
  }
  .language .ro .link {
    margin-right: 0.8rem;
    padding-right: 0.8rem;
    
  }

  #welcome .headline{
    font-size: 2rem;
  }

  #welcome .underheadline {
    font-size: 0.8rem;
  }

  #welcome .triangle{
    width: 60%;
  }

  #welcome .arrow-scroll{
    right: 8%;
  }


  #services{
    font-size: 63%;
  }

  #services .triangle-logo {
    width: 13px;
  }

  #services .desc{
    margin-top: 2rem;
    width: 100%;
    text-align: right;
    margin-right: 2rem;
  }

  #services .col-right{
    margin-right: 1rem;
    margin-left: 1rem;
    padding-left: 1rem;
    border: none;
  }

  #services .arrow-contact {
    width:14px;
  }

  #about{
    padding-left: 2em;
    padding-top: 2em;
  }
  #textSection{
    display: flex;
  }
  #about  .wrapper {
    font-size:3.4em;
  }

  #about .bg-right img{
    width: 600px;
    left:50%;
    top: 40%;
  }

  #info{
    font-size: 10px;
    padding-bottom: 8em;
  }
  .services-item {
    margin-bottom: 4em;
  }

  .services-inner .service-subtitle{
    font-size: 1.7em;
  }

  #footer {
    padding-bottom: 3vh;
  }
  #footer .headline {
    font-size: 1.9rem;
    margin-left: 4vw;
  }
  #footer .description {
    font-size: 0.7rem;
  }
  #footer .f-title {
    font-size: 0.8rem;
  }
  #footer .content {
    margin-left: 4vw;
    flex-wrap: wrap;
  }
  #footer .col-left {
    width: 30%;
  }
  #footer .email {
    font-size: 0.8rem;
  }
  #footer .email a::after {
    display: none;
  }

  #footer .links {
    width: auto;
  }

  #footer .links a {
    font-size: 1.5rem;
  }


}

@media only screen and (max-width: 344px) {
  nav .logo img{
    width: 120px;
  }

  nav .logo{
    margin-left: 1rem;
  }

  nav .language {
    margin-left: 1rem;
  }
  
  nav .navigation{
    margin-right: 1rem;
  }
  .language .ro .link {
    margin-right: 0.8rem;
    padding-right: 0.8rem;
    
  }
  #welcome .headline{
    font-size: 1.7rem;
  }

  #welcome .underheadline {
    font-size: 0.6rem;
  }

  #welcome .triangle{
    width: 60%;
  }

  #welcome .arrow-scroll{
    width: 13px;
    height: auto;
    right: 8%;
  }

  #services {
    font-size: 55%;
  }

  #services .triangle-logo {
    width: 13px;
  }
  .services-inner .service-subtitle{
    font-size: 1.6em;
  }

  #services .desc{
    margin-top: 2rem;
    width: 100%;
    text-align: right;
    margin-right: 2rem;
  }

  #services .col-right{
    margin-right: 1rem;
    margin-left: 1rem;
    padding-left: 1rem;
    border: none;
  }
  #services .arrow-contact {
    width:11px;
  }
  #about{
    padding-left: 2em;
    padding-top: 2em;
  }
  #textSection{
    display: flex;
  }
  #about  .wrapper {
    font-size:3.4em;
  }

  #about .bg-right img{
    width: 500px;
    left:40%;
    top: 40%;
  }

  #info{
    font-size: 10px;
    padding-bottom: 8em;
  }
  .services-item {
    margin-bottom: 4em;
  }


  #footer {
    padding-bottom: 3vh;
  }
  #footer .headline {
    font-size: 1.9rem;
    margin-left: 4vw;
  }
  #footer .description {
    font-size: 0.7rem;
  }
  #footer .f-title {
    font-size: 0.8rem;
  }
  #footer .content {
    margin-left: 4vw;
    flex-wrap: wrap;
  }
  #footer .col-left {
    width: 30%;
  }
  #footer .email {
    font-size: 0.8rem;
  }
  #footer .email a::after {
    display: none;
  }

  #footer .links {
    width: auto;
  }

  #footer .links a {
    font-size: 1.5rem;
  }

}






@media only screen and (max-width: 370px) {
  nav .underline{
    display: none;
  }
  #gradient-canvas {
    display: none;
  }
  #services{
    padding:0;
    margin: 0;
    overflow: hidden;
    height: fit-content;
  }
  
  #services .row{
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: relative;
    transform: none;
    left: auto!important;
    top: auto!important;
  }

  #services .title{
    margin-left: 1rem;

  }

  #services .col-left{
    flex-direction: row;
    margin-bottom: 4rem;
    padding-right: 1rem;
  }
}


@media only screen and (min-width: 850px){
  .phone{
    display: none;
  }
}
@media only screen and (max-width: 850px) {
  .desktop{
    display: none;
  }

  .cursor-dot{
    display: none;
  }

  .cursor-dot-outline{
    display: none;
  }
}
@media only screen and (max-width: 760px) {
 
  nav .underline{
    display: none;
  }
  #gradient-canvas {
    display: none;
  }

  #services .row{
    flex-direction: column;
  }
}


@media only screen and (max-width: 1350px) {
  html{
    font-size: smaller;
  }

 
}

@media only screen and (max-width: 1650px) {
  #services .row{
    left:50%;
  }
}

@media only screen and (min-width: 1900px) {
  #services .row{
    left:46%;
  }

  #services{
    font-size: 120%;
  }
}




/* --- Height --- */
@media only screen and (max-height:900px) and (min-height: 801px) {
    #about{
      font-size: 12px;
    }
    #about .container{
      margin-top: 3vh;
    }
}

@media only screen and (max-height:800px) and (min-height: 701px){
  #about{
    font-size: 10px;
  }
  #about .container{
    margin-top: 3vh;
  }
}

@media only screen and (max-height:700px) and (min-height: 601px) {
  #about{
    font-size: 9px;
  }
  #about .container{
    margin-top: 2vh;
  }
}


@media only screen and (max-height:600px) and (min-height: 501px){
  #about{
    font-size: 8px;
  }
  #about .container{
    margin-top: 2vh;
  }

}


@media only screen and (max-height:500px)and (min-height: 401px) {
  #about{
    font-size: 6.5px;
  }
  #about .container{
    margin-top: 2vh;
  }


  #about .bg-right img{
    width: 600px;
  }
}


@media only screen and (max-height:400px)and (min-height: 301px) {
  #about{
    font-size: 5px;
  }
  #about .container{
    margin-top: 1vh;
  }


  #about .bg-right img{
    width: 600px;
  }
}