@media only screen and (min-width: 901px) and (max-width: 1350px) {
  #work {
    font-size: large;
    height: 95vh;
  }
  #footer {
    padding-bottom: 3vh;
  }
  #footer .headline {
    font-size: 3rem;
    margin-left: 5vw;
  }
  #footer .content {
    margin-left: 5vw;
  }
  #footer .col-left {
    width: 35%;
  }
  #footer .email {
    font-size: 1.2rem;
  }
  #footer .email a::after {
    width: 1vw;
    height: 1vw;
  }
  #footer .links {
    width: auto;
  }
}

@media only screen and (min-width: 760px) and (max-width: 900px) {
  #work {
    font-size: medium;
    height: 95vh;
  }
  #footer {
    padding-bottom: 3vh;
  }
  #footer .headline {
    font-size: 2.5rem;
    margin-left: 5vw;
  }
  #footer .content {
    margin-left: 5vw;
  }
  #footer .col-left {
    width: 30%;
  }
  #footer .email {
    font-size: 1rem;
  }
  #footer .email a::after {
    width: 1vw;
    height: 1vw;
  }

  #footer .links {
    width: auto;
  }
}

@media only screen and (min-width: 500px) and (max-width: 759px) {
  #work {
    font-size: medium;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  #work .work-column {
    padding-top: 3vh;
    padding-left: 5vw;
  }
  #footer {
    padding-bottom: 3vh;
  }
  #footer .headline {
    font-size: 2.2rem;
    margin-left: 4vw;
  }
  #footer .content {
    margin-left: 4vw;
  }
  #footer .col-left {
    width: 30%;
  }
  #footer .email {
    font-size: 1rem;
  }
  #footer .email a::after {
    display: none;
  }

  #footer .links {
    width: auto;
  }

  #welcome h1 {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 385px) and (max-width: 499px) {
  #work {
    font-size: medium;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 9vh;
    padding-bottom: 15vh;
  }
  #work .work-column {
    padding-top: 3vh;
    padding-left: 5vw;
  }
  #footer {
    padding-bottom: 3vh;
  }
  #footer .headline {
    font-size: 1.9rem;
    margin-left: 4vw;
  }
  #footer .description {
    font-size: 0.8rem;
  }
  #footer .f-title {
    font-size: 1rem;
  }
  #footer .content {
    margin-left: 4vw;
  }
  #footer .col-left {
    width: 30%;
  }
  #footer .email {
    font-size: 1rem;
  }
  #footer .email a::after {
    display: none;
  }

  #footer .links {
    width: auto;
  }

  #footer .links a {
    font-size: 1.5rem;
  }

  #welcome h1 {
    font-size: 4rem;
  }

  #name-1 {
    margin-right: 0;
  }

  #name-2 {
    margin-left: 0;
  }
}

@media only screen and (min-width: 345px) and (max-width: 384px) {
  #work {
    font-size: small;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 9vh;
    padding-bottom: 15vh;
  }
  #work .work-column {
    padding-top: 3vh;
    padding-left: 5vw;
  }
  #footer {
    padding-bottom: 3vh;
  }
  #footer .headline {
    font-size: 1.9rem;
    margin-left: 4vw;
  }
  #footer .description {
    font-size: 0.7rem;
  }
  #footer .f-title {
    font-size: 0.8rem;
  }
  #footer .content {
    margin-left: 4vw;
    flex-wrap: wrap;
  }
  #footer .col-left {
    width: 30%;
  }
  #footer .email {
    font-size: 0.8rem;
  }
  #footer .email a::after {
    display: none;
  }

  #footer .links {
    width: auto;
  }

  #footer .links a {
    font-size: 1.5rem;
  }

  #welcome h1 {
    font-size: 4rem;
  }

  #name-1 {
    margin-right: 0;
  }

  #name-2 {
    margin-left: 0;
  }
}

@media only screen and (max-width: 344px) {
  #work {
    font-size: small;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 9vh;
    padding-bottom: 15vh;
  }
  #work .work-column {
    padding-top: 3vh;
    padding-left: 5vw;
  }
  #footer {
    padding-bottom: 3vh;
  }
  #footer .headline {
    font-size: 1.9rem;
    margin-left: 4vw;
  }
  #footer .description {
    font-size: 0.7rem;
  }
  #footer .f-title {
    font-size: 0.8rem;
  }
  #footer .content {
    margin-left: 4vw;
    flex-wrap: wrap;
  }
  #footer .col-left {
    width: 30%;
  }
  #footer .email {
    font-size: 0.8rem;
  }
  #footer .email a::after {
    display: none;
  }

  #footer .links {
    width: auto;
  }

  #footer .links a {
    font-size: 1.5rem;
  }

  #welcome h1 {
    font-size: 3.5rem;
  }
  #info .service-subtitle {
    font-size: 0.9rem;
  }
  #name-1 {
    margin-right: 0;
  }

  #name-2 {
    margin-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  #gradient-canvas {
    display: none;
  }
}
